.hero {
  width: 100vw;
  padding: 40px 50px 225px 50px;

  @media screen and (max-width: 768px) {
    padding-inline: 1rem;
    padding-top: 2rem;
  }

  &-hidder {
    overflow: hidden;
    display: flex;
  }

  &-title {
    width: 100%;
  }

  &-subtitle {
    font-family: Open sans regular;
    font-size: 1rem;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
      margin-top: -5px;
    }
  }

  .video-container {
    width: 100%;
    height: fit-content;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
      margin-top: 30px;
    }
  }

  &-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
  }

  &-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    @media screen and (max-width: 768px) {
      margin-top: 35px;

      .link {
        font-size: 1.2rem;
      }
    }
  }
}
