.sidebar-item {
  a {
    font-size: 54px;
    color: white;
    text-decoration: none;
    font-family: Open sans bold;
    line-height: 1.1;
    position: relative;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }
}
