.announce-card {
  &-photo {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    aspect-ratio: 16 / 10;
    object-fit: cover;
  }

  &-content {
    padding: 15px;

    @media screen and (max-width: 768px) {
      padding: 0.8rem;
    }
  }

  &-brand,
  &-category {
    font-size: 14px;
    font-family: Open sans regular;

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  &-model {
    font-size: 22px;
    font-family: Open sans extrabold;
    margin-top: 5px;

    @media screen and (max-width: 768px) {
      margin-top: 3px;
      font-size: 1.4rem;
    }
  }

  &-profile {
    cursor: pointer;
    width: fit-content;
    margin-top: 1.25rem;
    display: flex;
    align-items: center;

    &-photo {
      height: 2.5rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      object-fit: cover;
    }

    &-name {
      margin-left: 0.6rem;
      font-size: 1rem;
      font-family: Open sans bold;
    }
  }

  &-details {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .label {
        font-size: 12px;
        font-family: Open sans regular;
      }

      .value {
        font-size: 24px;
        font-family: Open sans condensed bold;
        margin-top: -5px;
      }
    }
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;

    .icon {
      cursor: pointer;
      width: 1.5rem;
      height: auto;
    }
  }
}
