.announce {
  width: 100vw;
  padding-block: 2.5rem 220px;

  @media screen and (max-width: 768px) {
    padding-block: 1.5rem 150px;
  }

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    &-user {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        gap: 0.6rem;
      }

      &-image {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
      }

      &-name {
        font-family: Open sans bold;
        font-size: 1.1rem;
      }
    }

    &-icons {
      display: flex;
      gap: 1rem;

      @media screen and (max-width: 768px) {
        gap: 0.6rem;
      }

      svg {
        width: 1.5rem;
        height: auto;
        cursor: pointer;
      }
    }
  }

  &-centered-text {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-brand {
    font-family: Open sans regular;
    font-size: 1.4rem;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  &-model {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: Open sans bold;
    line-height: 1;

    .word-wrapper {
      justify-content: center;
    }

    .space {
      width: 0.9rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 3rem;
      margin-top: 0.8rem;

      .space {
        width: 0.6rem;
      }
    }
  }

  &-year {
    font-family: Open sans condensed bold;
    font-size: 1.4rem;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }

  &-values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;

    .announce-value {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        line-height: 1;
      }

      .label {
        font-family: Open sans regular;
        font-size: 0.9rem;
      }

      .value {
        font-family: Open sans condensed bold;
        font-size: 2rem;
      }
    }
  }

  &-details {
    margin-top: 3rem;

    .subtitle {
      font-family: Open sans bold;
      font-size: 2.2rem;
      margin-top: 1rem;
    }

    .text {
      font-family: Open sans regular;
      font-size: 0.8rem;
      margin-top: 0.4rem;

      .sentence-wrapper {
        gap: 0.22rem;
      }
    }

    .row {
      font-family: Open sans light;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 0.5rem;
      margin-top: 0.2rem;

      .label {
        font-family: Open sans bold;
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }
  }

  &-images {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    &-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 3%;
    }
  }
}
