.message-block {
  width: 100%;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background 200ms;
  background: white;

  &:hover {
    background: rgba(150, 150, 163, 0.2);
  }

  &-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  &-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    width: 100%;

    &-user {
      font-size: 16px;
      font-family: Open sans bold;
    }

    &-content {
      font-family: Open sans regular;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 14px;
    }
  }
}
