*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 16px;
}

body {
  &.light {
    --color: #111;
    --background: #fff;
  }

  &.dark {
    --color: #fff;
    --background: #111;
  }
}

.title {
  font-size: 16px;
  font-family: Open sans light;
}

.section {
  width: 100vw;
  padding: 0 50px;
}

@font-face {
  font-family: Open sans regular;
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Open sans extrabold;
  src: url(./fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: Open sans bold;
  src: url(./fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Open sans condensed bold;
  src: url(./fonts/OpenSans_Condensed-Bold.ttf);
}
